.game {
    display: flex;
    flex-wrap: wrap;
    box-shadow: 0 0 3px black;
    background-color: rgb(223, 223, 223);

    &.game--size-4x4 {
        width:400px;
        height:400px;
    }
}

.cell {
    position: absolute;
    box-shadow: 0 0 1px black;
    width:100px;
    height: 100px;
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 20px;
    font-family: 'Roboto', sans-serif;
    user-select: none;
    cursor: pointer;
    transition: box-shadow 0.3s ease;

    &.cell--empty{
        box-shadow: 0 0 0px black;
        background-color: rgb(223, 223, 223);
        color: rgb(223, 223, 223);
        &:hover {
            animation: none;
        }
    }

    &:hover {
        z-index:98;
        animation: 0.3s ease forwards shadow;
    }

    @keyframes shadow {
        0% {
            box-shadow:0 0 0px black;
        }
        100%{
            box-shadow:0 0 5px black;
        }
    }


}
