body {
    margin: 0;
    padding: 0;
}

.container {
}

.game {
    position: relative;
    display: flex;
    flex-wrap: wrap;
    box-shadow: 0 0 3px black;
    background-color: rgb(223, 223, 223);
}

.game-bar {
    width: 300px;
    height: 300px;
}

.game--size-3x3 {
    width: 300px;
    height: 300px;

    &.disabled::after {
        content: "";
        width: 300px;
        height: 300px;
        position: absolute;
        z-index: 9999;
        background-color: gray;
        opacity: 0.3;
    }
}

.game--size-4x4 {
    width: 400px;
    height: 400px;

    &.disabled::after {
        content: "";
        width: 400px;
        height: 400px;
        position: absolute;
        z-index: 9999;
        background-color: gray;
        opacity: 0.3;
    }
}

.game--size-5x5 {
    width: 500px;
    height: 500px;

    &.disabled::after {
        content: "";
        width: 500px;
        height: 500px;
        position: absolute;
        z-index: 9999;
        background-color: gray;
        opacity: 0.3;
    }
}

.game--size-6x6 {
    width: 600px;
    height: 600px;

    &.disabled::after {
        content: "";
        width: 600px;
        height: 600px;
    
        position: absolute;
        z-index: 9999;
        background-color: gray;
        opacity: 0.3;
    }
}

.game--size-7x7 {
    width: 700px;
    height: 700px;

    &.disabled::after {
        content: "";
        width: 700px;
        height: 700px;
        position: absolute;
        z-index: 9999;
        background-color: gray;
        opacity: 0.3;
    }
}

.game--size-8x8 {
    width: 800px;
    height: 800px;

    &.disabled::after {
        content: "";
        width: 700px;
        height: 700px;
        position: absolute;
        z-index: 9999;
        background-color: gray;
        opacity: 0.3;
    }
}

.control {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 200px;
    .buttons {
        height: 50px;
        width: 100%;
    }
    button {
        margin-top: 10px;
        background-color: green;
        color: white;
        border: 0;
        border-radius: 5px;
        cursor: pointer;
        &.hover {
            background-color: rgb(16, 207, 16);
        }
    }

    div {
        margin-top: 5px;
    }
}

.cell {
    position: absolute;
    box-shadow: 0 0 1px black;
    width: 100px;
    height: 100px;
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 20px;
    font-family: "Roboto", sans-serif;
    user-select: none;
    cursor: pointer;
    transition: box-shadow 0.3s ease;

    &.cell--empty {
        box-shadow: 0 0 0px black;
        background-color: rgb(223, 223, 223);
        color: rgb(223, 223, 223);
        &:hover {
            animation: none;
        }
    }

    &.cell--hovered {
        &:hover {
            z-index: 98;
            animation: 0.3s ease forwards shadow;
        }

        @keyframes shadow {
            0% {
                box-shadow: 0 0 0px black;
            }
            100% {
                box-shadow: 0 0 5px black;
            }
        }
    }
}
